.center {
    margin: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    margin-top: 3em;
    border-radius: 5em;
    font-weight: bold;
    height: 3em;
    width: 10em;
    border: none;
    outline: none;
    position: relative;
    color: white;
}

button:active {
    top: 1px;
}

.download-button {
    background-color: #00d43f;
}

.download-button:hover {
    background-color: #00e846;
}

.home-button {
    background-color: #5356ed;
}

.home-button:hover {
    background-color: #7071ff;
}